footer {
  padding: 2rem 0;
}
.footer-top {
  display: flex;
  gap: 12rem;
}

.footer-top h3,
.footer-bottom h3 {
  font: var(--font-title-footer);
  color: var(--white-color);
  margin-bottom: 1.6rem;
}

.footer-top p,
.footer-bottom p {
  font: var(--font-text-footer);
  color: var(--white-color);
  margin-bottom: 0.8rem;
}

.footer-top-contacts ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.footer-top-contacts ul li {
  background-color: var(--blue-color-page);
  padding: 0.4rem 0.6rem 0 0.4rem;
  border-radius: 0.8rem;
}

.footer-top-contacts svg {
  width: 4rem;
  fill: #fff;
}

.footer-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 4rem;
}

.footer-bottom-companies {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

@media (max-width: 800px) {
  .footer-top,
  .footer-bottom {
    flex-direction: column;
  }
  .footer-top {
    gap: 2rem;
  }
  .footer-bottom {
    align-items: flex-start;
  }

  .footer-bottom-companies {
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
