/* Header */

header {
  position: relative;
}

header::before,
header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

header::before {
  left: 0;
  background-color: var(--blue-color-page);
}
header::after {
  left: 50%;
  background-color: var(--white-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu-Toggle */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--principal-color);
  margin-bottom: 6px;
}

.close-icon img {
  display: none;
  position: absolute;
  width: 4rem;
  top: 2rem;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

.menu {
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .active {
    background-color: var(--principal-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .menu-toggle {
    display: block;
  }
  .menu.active .close-icon img {
    display: block;
  }
}
