/* Header */

header {
  position: relative;
}

header::before,
header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

header::before {
  left: 0;
  background-color: var(--blue-color-page);
  background-image: url("../images/bannher-hero-img/prancheta.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
header::after {
  left: 50%;
  background-color: var(--white-color);
  background-image: url("../images/bannher-hero-img/maca.png");
  background-position: bottom -100px right;
  /* background-size: contain; */
  background-repeat: no-repeat;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu-Toggle */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--white-color);
  margin-bottom: 6px;
}

.close-icon img {
  display: none;
  position: absolute;
  width: 4rem;
  top: 2rem;
  right: 10px;
  cursor: pointer;
  z-index: 999;
}

/* fim menu_toggle */

.menu ul {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--principal-color);
  padding: 0.6rem;
}

@media (max-width: 1260px) {
  .menu a {
    padding: 0.4rem;
    font: var(--font-list-mobile);
  }
}

@media (max-width: 768px) {
  header {
    background-color: var(--blue-color-page);
  }

  header::before,
  header::after {
    content: none;
  }

  .header-content {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  .menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li {
    padding: 1rem;
  }

  .menu a {
    color: var(--white-color);
  }

  .active {
    background-color: var(--principal-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 998;
    overflow-y: hidden;
  }

  .menu-toggle {
    display: block;
  }
  .menu.active .close-icon img {
    display: block;
  }
}
