#how-it-works {
  background-color: var(--white-color);
}
.how-it-works--title h2 {
  font: var(--font-title-main);
  color: var(--principal-color);
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 0.6rem;
}

.how-it-works--title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--principal-color);
  border-radius: 0 4px 4px 0;
  width: 100%;
  height: 0.4rem;
}

.how-it-works--title p {
  color: var(--gray-color-page);
  font: var(--font-subtitle);
  font-weight: 900;
  text-transform: uppercase;
}
