#our-services {
  padding: 2rem 0;
}

.our-services--title h2 {
  font: var(--font-title-main);
  color: var(--white-color);
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.our-services--title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white-color);
  border-radius: 0 4px 4px 0;
  width: 100%;
  height: 0.4rem;
}

.our-services--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.our-service {
  margin-top: 1.5rem;
  flex: 1 30rem;
  height: 30rem;
  position: relative;
  cursor: pointer;
  border-radius: 0.8rem 0.8rem 0 0;
}

.our-service.report {
  background: url("../images/services-img/laudos-distancia.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-service.lending {
  background: url("../images/services-img/comodato.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-service.training {
  background: url("../images/services-img/treinamento.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-service.validation {
  background: url("../images/services-img/validacao.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-service.report::before,
.our-service.lending::before,
.our-service.training::before,
.our-service.validation::before {
  content: "";
  background: url("../images/icons/icons-service-img/laudo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.our-service.lending::before {
  background: url("../images/icons/icons-service-img/comodato.svg");
  background-repeat: no-repeat;
}
.our-service.validation::before {
  background: url("../images/icons/icons-service-img/laudos-distancia.svg");
  background-repeat: no-repeat;
}
.our-service.training::before {
  background: url("../images/icons/icons-service-img/treinamento.svg");
  background-repeat: no-repeat;
}

.our-service--content {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--blue-color-page);
  padding: 1rem 0.8rem;
  z-index: 1;
}

.our-service--title {
  text-align: center;
}

.our-service--title p {
  font: var(--font-service-title);
  color: var(--white-color);
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

.our-service--text p {
  font: var(--font-service-text);
  color: var(--white-color);
  display: none;
  transition: all 0.3s ease;
}

.our-service::after {
  content: "";
  width: 100%;
  background-color: var(--principal-color);
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}

@media (max-width: 768px) {
  #our-services {
    padding: 0;
  }
  .our-services--content {
    /* gap: 0.3rem; */
    justify-content: center;
  }
  .our-services--title h2 {
    font: var(--font-title-main-mobile);
    padding-bottom: 0.3rem;
  }

  .our-service {
    flex: 1 200px;
    height: 24rem;
  }

  .our-service.report,
  .our-service.validation {
    flex: 2 400px;
  }

  .our-service.report::before {
    content: "";
    background: url("../images/icons/icons-service-img/laudo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    bottom: 0;
    position: absolute;
    z-index: 2;
  }

  .our-service.lending::before {
    content: "";
    background: url("../images/icons/icons-service-img/comodato.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    bottom: 0;
    position: absolute;
    z-index: 2;
  }

  .our-service.training::before {
    content: "";
    background: url("../images/icons/icons-service-img/treinamento.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    bottom: 0;
    position: absolute;
    z-index: 2;
  }
  .our-service.validation::before {
    content: "";
    background: url("../images/icons/icons-service-img/laudos-distancia.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    bottom: 0;
    position: absolute;
    z-index: 2;
  }

  .our-service--text p {
    display: block;
  }

  .our-service::after {
    content: "";
    width: 100%;
    background-color: var(--principal-color);
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.6;
  }
}

@media (max-width: 500px) {
  .our-service {
    flex: 1 200px;
  }
}
