.our-representatives {
  padding: 2rem 0rem;
  position: absolute;
}

.our-representatives--title h2 {
  font: var(--font-title-contact);
  color: var(--white-color);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .our-representatives--title h2 {
    font: var(--font-title-contact-mobile);
  }
}
