$black: #000;
$white: #fff;
$red: #f7254c;
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.representatives-content {
  padding-left: 0;
  width: 100%;
  float: left;
  overflow: hidden;
}

/* MAPA */
.box-mapa {
  position: relative;
  z-index: 1;
  float: left;
  padding: 20px 0 0 15px;
}

#map {
  display: none;
  transform: scale(1.2);
  transform: scale(1);
  display: table !important;
  margin: 0 auto;
  float: left;
}
#map .state {
  cursor: pointer;
}
#map .state .shape {
  cursor: pointer;
  -width: 0;
}
#map .state .label_icon_state {
  fill: #fff;
  font-family: Arial;
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
}
#map .state .label_state {
  display: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

#map .model-davi .state .shape {
  fill: #ddd;
}
#map .model-davi .state:hover .shape {
  fill: #fd7132 !important;
}
#map .model-davi .state .icon_state {
  fill: #284779;
}
#map .model-davi .state:hover .icon_state {
  fill: #039be5;
}
#map .model-davi .state .icon_state + .label_icon_state {
  fill: #fff;
}

#map .model-davi .state .label_icon_state {
  fill: #666;
}
#map .model-davi .state:hover .label_icon_state {
  fill: #fff;
}
#map .model-davi .state .label_state {
  fill: #666;
  display: none;
}
#map .model-davi .state .shape {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#map .model-davi .state:hover .shape {
  fill: #0288d1;
}

.parca {
  position: relative;
  float: left;
  padding: 0 0 0 15%;
}
.parca select {
  display: none;
  margin: 0 auto;
  width: 230px;
  border: 1px solid #999;
  height: 40px;
  padding: 9px;
  border-radius: 0;
}
.parca .estado {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ddd;
  position: absolute;
  opacity: 0;
  border-radius: 5px;
  visibility: visible;
  padding: 10px 14px;
  left: 0;
  right: 0;
  min-width: 230px;
  display: table;
  margin: 57px 0 0 160px;
  box-shadow: 0 1px 80px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.parca .estado h3 {
  margin-top: 0;
  display: block;
  background-color: var(--principal-color);
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2rem;
}

.parca .estado h4 {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.parca .estado p {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}

.parca .estado ul {
  padding-left: 0px;
}
.parca .estado ul li {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.parca .estado ul span {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

.parca .estado ul li a {
  color: #000;
}

.parca #box_mg.estado {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1199px) {
  #map {
    transform: scale(1);
  }
}
@media (max-width: 991px) {
  .parceiros .two .parca .estado {
    display: block;
    margin: 45px auto;
    float: none;
    position: absolute;
    left: 0;
    right: 0;
    min-width: 160px;
    max-width: 306px;
  }
  .box-mapa {
    position: relative;
    top: 0;
    left: initial;
    display: table;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .box-mapa {
    display: none;
  }
  .parca {
    padding: 0;
  }
  .parca select {
    display: block;
    width: 328px;
  }
  .parca .estado {
    min-width: 328px;
    max-width: 328px;
    margin: 20px 0 0 0px;
  }
}
